.banner{
    height: 90vh;
    position: relative;
    background-repeat: no-repeat;
}

.banner__info{
    background-color: rgba(129, 129, 129, 0.556);
    color: white;
    backdrop-filter: blur(4px);
    width: 30rem;
    margin-left: 60vw;
    
}
.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}

.banner__search{
    display: flex;
    flex-direction: column;
}
.banner__searchButton{
    background-color: rgb(104, 92, 92) !important ;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #e7e7e0 !important;
}

.banner__info > button:hover{
    background-color:white ;
    color: #000000;
}
